body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Alata', sans-serif;
}

label {
  width: 900px;
  height: 400px;
  background: #DDD;
  border-radius: 300px;
  position: relative;
  display: block;
  box-shadow: inset 0px 10px 20px rgba(0,0,0,0.3), inset 0px -3px 12px rgba(255, 255, 255, 0.3);
  transition: 0.6s;
}

label:after {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  left: 25px;
  top: 25px;
  background: linear-gradient(180deg, #E8AD0C, #FF8A01);
  border-radius: 180px;
  box-shadow: 0px 7px 14px rgba(0,0,0,0.2);
  transition: 0.6s;
}

input {
  visibility: hidden;
}

input:checked + label {
  background:#151515;
}

input:checked + label:after {
  left: 875px;
  background: linear-gradient(180deg, #295EE6, #210094);
  transform: translateX(-100%);
}

label:active:after {
  width: 500px;
}

.main-background {
  width: 100vw;
  height: 100vh;
  background: #FFF;
  position: absolute;
  transition: 0.6s;
  z-index: -1;
}

input:checked + label + .main-background {
  background:#0A0909
}

label svg {
  position: absolute;
  top: 50px;
  width: 300px;
  z-index: 1;
}

label svg.sun {
  left: 50px;
  fill: #FFF;
  transition: 0.6s;
}

label svg.moon {
  left: 550px;
  fill: #5d5959;
  transition: 0.6s;
}

input:checked + label svg.moon {
  fill: #FFF;
}

input:checked + label svg.sun {
  fill: #5d5959;
}


